{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('assets/css/register.css')}}">
{% endblock %}
{% block body %}
<form method="post">
    {% if error %}
    <div class="alert alert-error">Mot de passe ou email incorrect</div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Connectez-vous</h1>
    <div class="manga">
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
            autocomplete="email" required autofocus>
        <label  for="inputPassword">Mot de passe</label>
        <input class="input" type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password"
            required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


        <button class="aButton" type="submit">
            Valider
        </button>
    </div>
</form>
{% endblock %}