{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('assets/css/chap.css')}}">
{% endblock %}
{# {% block title %} {{manga.title ~ chapter.title}} {% endblock %} #}
{% block body %}
<div class="manga">
   
    

    {% for chapter in chapImg.images %}
    {{ chapter.title}}
   

    <img src=" {{ asset('uploads/imagesChapter/' ~ chapter.imagesChapter)  }} " alt="">

   
  
    {% endfor %}
    
   
    </div>
{% endblock %}
