.manga {
    padding: 10px;
    text-align: center;
    .buttonForm{
        display: flex;
        flex-direction: row-reverse;
        button{
            max-width: 30%;
            margin-right: 10px;
          }
    }
    

}