.parent {
    display: block;

    & .manga {
        max-width: 100%;
        display: flex;
        padding: 0.75rem 0;
        border: 1px solid transparent;
        margin-bottom: 1rem;

        .img {
            max-width: 35%;
            margin: 0 10px;


            & img {
                width: 100%;
                height: 100%;
                object-fit: contain;

               

            }
        }

        .second {
            padding-left: 10px;

            & h3 {
                font-size: 1rem;

            }

            .chapterList {
                display: flex;
                flex-direction: column;

                a {
                    padding: 4px 0;
                }
            }

        }

    }

}

@media screen and (min-width:768px) {

    .parent {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .manga {
            max-width: 45.5%;
            

            .second {
                padding-left: 10px;

                & h3 {
                    font-size: 1.25rem;
                }
            }

        }

    }

}