.manga{
    text-align: center;
    .affichage{
        div{
            margin-top: 20px;
            padding: 10px;
            background: rgb(56, 56, 56);
            border-radius: 15px;
        }
        
    }
    .divButt{
        display: flex;
        justify-content: space-between;
        
        div{
            width: 48%;
            margin-top: 20px;
            a{
                width: 100%;
                height: 90%;
            }
        }
        
        
    }
}
@media screen and (min-width:768px){
    .manga{
        .divButt{
            display: block;
            
            div{
                width: 100%;
                margin-top: 10px;
                
            }
        }
    }
}