.manga {
    color: white;

    .terme {
        display: flex;
            flex-direction: row;
            
       
            .input {
                margin: 10px;
            }

            a {
                padding: 10px;
                color: white;
            }

        ;
    }

    

}