{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

<br>
Faires la page principale du site
<br>
Faire un CRUD dans l'espace gestion de compte
<br>
Faire un formulaire contact




<table class="table">
    {# <tbody>

        Affichez les Categorie existante losque l'on clique sur toutes les catégories

        {% for categorie in listCategorie %}
        <tr>
            <td class="d-flex justify-content-between"> <strong>{{ categorie.title }}</strong> </a></td>
        </tr>
        {% endfor %}
    </tbody> #}
</table>

<div class="card">

    <div class="card-body">
        {% for manga in lastManga %}
        <a href="#"> <img src="{{ asset('uploads/imageManga/' ~ manga.photoManga) }}" alt=""> </a>
        {% endfor %}


    </div>

</div>

{% endblock %}