{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
Classer les manga sur la page principale via les derniers chapitres
<br>
Faires un slide en haut
<br>
Faire un CRUD dans l'espace gestion de compte
<br>
Faire un formulaire contact




<table class="table">
    {# <tbody>

        Affichez les Categorie existante losque l'on clique sur toutes les catégories

        {% for categorie in listCategorie %}
        <tr>
            <td class="d-flex justify-content-between"> <strong>{{ categorie.title }}</strong> </a></td>
        </tr>
        {% endfor %}
    </tbody> #}
</table>




<div>
    {% for manga in lastManga %}


    <div>
        <a href="#"> <img src="{{ asset('uploads/imageManga/' ~ manga.photoManga) }}" alt="">
            <h3>{{ manga.title }}</h3>
        </a>



        <p> {{manga.description|raw }} </p>

    </div>

    {% endfor %}

</div>




{% endblock %}