{% extends 'base.html.twig' %}
{% block body %}
<div class="container manga">

    <h1>Mentions légales :</h1>
    <p>Site : sitemanga.fabrice-mohamed.com</p>

    <h2>Propriétaire</h2>
    <p>Mohamed Fabrice</p>
    <p>8residence du parc de petit bourg</p>
    <p>Email :<a href="mailto:mohamedfabrice.pro@gmail.com?subject=Contact mentions légales">mohamedfabrice.pro@gmail.com</a></p>

    <h2>Création et maintenance du site</h2>
    <p>Mohamed Fabrice</p>
    <p>06.52.76.44.02</p>
    <p>Email :<a href="mailto:mohamedfabrice.pro@gmail.com?subject=Contact mentions légales">mohamedfabrice.pro@gmail.com</a></p>
    <a href="https:/fabrice-mohamed.com/">https://fabrice-mohamed.com/</a>


        <h2>Hébergeur du site</h2>
        <p>o2switch – SAS au capital de 100 000€</p>
        <p>Immatriculée au RCS Clermont Ferrand</p>
        <p>Siège social : Chemin des Pardiaux 63000 Clermont-Ferrand</p>
        <p>Tel.: +33 (0)4.44.44.60.40</p>

        <p>La politique du site cliks.dylanbury.com est en conformité avec la loi n°2004-575 du 21 juin 2004 pour la
            confiance dans l’économie numérique.</p>
</div>
{% endblock %}